$blue: #056ef0;
$red: red;
$column: 25%;
$height: 500px;
$gray: #222;

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$break-america: 1776px;

$base-fs: 16px;
$fs-small: 12px;
$base-blockquote: 23px;

$fw-light: 100;
$fw-regular: normal;
$fw-medium: 500;
$fw-bold: 900;

$default-border: 1px solid rgba(0,0,0,0.25);

@define-mixin cover {
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  -ms-behavior: url(/backgroundsize.min.htc);
}

@define-mixin center $name {
    @media screen and (min-width: $break-small) {
      width:$(name)%;
      margin-left:auto;
      margin-right:auto;
  }
}
@define-mixin padding-mobile {
  padding-left:15px;
  padding-right:15px;
  @media screen and (min-width:$break-small) {
    padding-left:0;
    padding-right: 0;
  } 
}
@define-mixin margin-mobile {
  margin-left:15px;
  margin-right:15px;
  @media screen and (min-width:$break-small) {
    margin-left:0;
    margin-right: 0;
  } 
}

html {
  font-size:16px;
  font-size: responsive 12px 21px;
  font-range: 420px 1280px;
}

header {
    width: calc(4 * $column);
    height: $height;
    position: relative;
}

header h1 {
    background: $blue;
    width: calc($column * 2);
    opacity:0.8;
    color: $gray;
}
header h4{
  background: rgba(255,255,255, 0.7);
  top:center;
  left:center;
}
li:at-least(3) {
  border: 1px solid $red;
}
img {
  image-size:responsive;
}
ol {
  li {
    color:$blue;
  }
}
.placeholder {
  position: relative;
  height:$height;
  img {
    left:center;
  }
}
.circle {
    circle: 100px blue;
    margin:100px auto;
    animation-name: flip;
    animation: flip 3s infinite ease;
}
.hoverme {
    circle: 300px red;
    color:#fff;
    margin:100px auto;
    animation-name:pulse;
    position: relative;
    &:hover {
        animation: pulse 2s infinite ease ?if media (min-width: $break-small);
    }
    span {
        top:center;
        left:center;
    }
}