$blue: #056ef0;
$red: red;
$column: 25%;
$height: 500px;

/** Neat RuckSack font features! ***/
html {
  font-size: responsive 12px 21px;
  font-range: 420px 1280px;
}

header {
    width: calc(4 * $column);
    height: $height;
    position: relative;
}

header h1 {
    background: $blue;
    width: $column;
    opacity:0.8;
}
header h4 {
	background: rgba(153, 85, 102, 0.3);
	top:center;
	left:center;
}
li:at-least(3) {
  border: 1px solid $red;
}